body {
  font-family: monospace;
  color: white;
}

#controls-area {
  position: fixed;
  right: 20px;
  bottom: calc(1vh + 10px);
}

#controls {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  border: white 1px solid;
  padding: 15px 5px 5px 5px;
}

.control-container {
  padding: 0 0 10px 0;
  display: flex;
}

#controls button {
  float: right;
  flex: auto;
  margin: 0 2px 0 2px;
  font-family: monospace;
}

.control-container span,
p {
  color: white;
  font-weight: bold;
  flex: auto;
  min-width: 30px;
  text-align: center;
}

#toggle-controls {
  float: right;
  margin-top: -30px;
  background-color: blue;
  cursor: pointer;
  padding: 5px;
}
.collapse {
  display: none;
}

.slider {
  max-width: none;
  flex: auto;
}

#info-area {
  position: fixed;
  bottom: 20px;
  background-color: blue;
  padding: 5px;
}

label {
  min-width: 80px;
  padding: 0 2px 0 2px;
}
